.App {
  position: absolute;;
  top:-250px;
  left: -650px;
  display: flex;
    justify-content: space-around ;
    font-family: sans-serif;
    text-align: center;
    margin-right: 10px;
    z-index: -1;
  }
  
  .time {
    font-size: 32px;
  }
  